.boards-item{
    background-color: lightgoldenrodyellow !important;
    display: inline-block;
    margin: 20px;
    padding:20px;
    width:260px;
    min-height: 100px;
    vertical-align: top;
}

.boards-item__cta-holder{
    text-align: center;
    margin-top:20px;
}

.board-item__action-btn{
    display: inline-block;
    margin: 10px 10px 0;
}