.boards-item{
    background-color: lightgoldenrodyellow !important;
    display: inline-block;
    margin: 20px;
    padding:20px;
    width:260px;
    min-height: 100px;
    vertical-align: top;
    position: relative;
}

.boards-item__cta-holder{
    margin-top:-20px;

    position: absolute;
    right:0;
}

.board-item__action-btn{
    display: inline-block;
    margin: 10px 10px 0;
}